@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="display-3">@ViewBag.Nota.titulo</h2>
    <h2 class="display-5">@ViewBag.Nota.contenido</h2>
    <br/>
    <a class="btn btn-danger" href="/Home/Index">Regresar</a>
    <br/>
    <br/>
</div>